@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 120 10% 25%;
    --card: 60 50% 96%;
    --card-foreground: 120 10% 25%;
    --popover: 60 50% 96%;
    --popover-foreground: 120 10% 25%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 120 15% 85%;
    --secondary-foreground: 120 25% 10%;
    --muted: 120 15% 88%;
    --muted-foreground: 120 5% 50%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 15% 80%;
    --input: 120 15% 85%;
    --ring: 120 25% 55%;
    --chart-1: 120 25% 45%;
    --chart-2: 51 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 60 50% 96%;
    --sidebar-foreground: 120 10% 25%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 120 15% 88%;
    --sidebar-accent-foreground: 120 25% 10%;
    --sidebar-border: 120 15% 80%;
    --sidebar-ring: 120 25% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
